/* ---------------Box Sizing----------------- */
/*

<!--
*Color Pallet
#0511F2 -bright blue
#A4A5A6 -grey
#03588C -shaded blue
#038C7F -greenish
#0D0D0D -black
-->
*/

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body{
    margin: 0 ;
    font-family: 'Montserrat', sans-serif;
    
    

  }
  body header {
  
   padding-bottom: 4rem;
   background-color: #0D0D0D;
   
  }
  header img{
    opacity: 70%;
  }
  nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  nav ul li{

    list-style-type: none;
   }
   nav ul li a{
    color:#A4A5A6;
    text-decoration: none;
    background-color: #03588C;
    padding: 8px 16px;
    border-radius: 20px;
    transition: 0.5s;
    border: 1px solid rgba(0,0,0,.6);
   }


   nav ul li a:hover{
    color:#A4A5A6;
    text-decoration: none;
    background-color: #03588C;
    padding: 12px 20px;
    border-radius: 20px;
    transition: 0.5s;
    border: 1px solid rgba(0,0,0,.6);

    padding: 8px 16px;
    border-radius: 20px;
    font-size: 2.5rem;
   }

#OverView{
  margin-bottom: 5%;

}

   #OverView h2{
    text-align: center;
    font-size: 3rem;
   }
   #OverView p{
    font-size: 2rem;
    text-align: left;
    margin-right: 10rem;
    margin-left: 10rem;
    padding-bottom: 2rem;
   }

  
   #container{
    
    background-color: #fff;
    margin-bottom: -5%;
   }

   #slideArticles img{
    max-width:100%;
}







#slideArticles{
  margin-top:5%;
  border-radius: 50px;
  
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    position:relative;
     height:700px;
     background-color: #A4A5A6;

}
#slideContent{
  position:relative; 
  margin-right: auto;
    margin-left: auto; 
  margin-top: .2rem; 
     width:550px;
     
  
}
#slideContent h2{
  text-align:center;
}
#slideContent h3{
  text-align:center;
}

#slideContent img{
  position: relative;
  border-radius: 30px;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 25rem;
  height: auto;
  max-width:100%;
  
}





.container{
    margin:40px auto;
    padding-bottom: 10vw;
    width:70vw;
    /* Set Max Content Width */
    max-width:700px;
   
}

/* Customize Previous/Next/Dots/Autoplay */

.slick-autoplay-toggle-button,
.slick-prev .slick-prev-icon, .slick-next .slick-next-icon,
.slick-dots li button .slick-dot-icon,
.slick-dots li.slick-active button .slick-dot-icon {
  color: black;
}

/* Customize Previous/Next/Dots/Autoplay - Active State */

.slick-next:focus .slick-next-icon,
.slick-next:focus .slick-prev-icon,
.slick-prev:focus .slick-next-icon,
.slick-prev:focus .slick-prev-icon,
.slick-dots li button:focus .slick-dot-icon:before,
.slick-dots li.slick-active button:focus .slick-dot-icon,
.slick-autoplay-toggle-button:focus 
{
    color:black;
}


#Config{
  text-align: center;
  margin-top: 50px;
  font-size: 2.5rem;



  
  
}




  footer{
    margin-top: 10%;
    background-color: #0D0D0D;
    color: #fff;
    padding-bottom: 1rem;

    
  }
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none ;
   
  }
  footer ul a{
    color:#fff;
  
  }
  footer img{
    width: 20rem;
  }